.titleSecond {
  padding-top: 10px;

  color: #fff;
  text-align: center;
}

.titleStat {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;

  text-align: center;
}
