.titleSecond {
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;

  color: #fff;
}

.titleStat {
  margin-bottom: 30px;
  text-align: center;

  text-transform: uppercase;
  color: #fff;
}
