.section {
  margin: 50px;
  /* border: 3px solid red; */

  /* width: 400px;
  height: 500px;
  background-color: #b7cbe5; */
}

.taskOne {
  composes: section;
  width: 400px;
  height: 500px;
  background-color: #b7cbe5;
}

.sectionTitle {
  color: red;
  text-align: center;
}
